body {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
}

.back-img {
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 0px;
  margin: 0px;
  background-image: url(../imagenes/bg-desktop-light.jpg);
}
.title-img {
  height: 26px;
  width: 25.112503051757812px;
  background: url(../imagenes/icon-moon.svg);
}

.container-inform {
  position: absolute;
  margin-top: 6%;
  width: 550px;
  height: 440px;
  left: 330px;
}
.tittle {
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.tittle p {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: white;
  margin-top: 0px;
}

.new-event {
  padding: 30px 0px;
  border-radius: 6%;
}
.new-event ::placeholder {
  padding-left: 80px;
}
.input-events {
  width: 540px;
  height: 60px;
  left: 450px;
  top: 158px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #9495a5;
  border-radius: 5px;
  border: 0px;
}
.input-events {
  background: white;
}
.container-list {
  background-color: white;
  width: 540px;
  height: 439px;
  left: 450px;
  top: 246px;
  border: solid 2px grey;
  border-radius: 7px;
}

.container-list ol li {
  color: grey;
}

.container-footer {
  position: absolute;
  width: 179 px;
  height: 14px;
  left: 500px;
  top: 734px;
  bottom: 52px;
  padding-bottom: 60px;
  color: rgba(91, 94, 126, 1);
  letter-spacing: -0.194444px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

body.darkmode {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  background: #000000;
}
back-img.darkmode {
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 0px;
  margin: 0px;
  background-image: url(../imagenes/bg-desktop-light.jpg);
}

title-img.darkmode {
  height: 26px;
  width: 25.112503051757812px;
  left: 515px;
  top: 11px;
  border: none;
  background: url(../imagenes/icon-sun.svg);
}
input-events.darkmode {
  background: rgba(37, 39, 61, 1);
}
container-list.darkmode {
  width: 540px;
  height: 439px;
  left: 450px;
  top: 246px;
  border: solid 2px grey;
  border-radius: 7px;
  background: rgba(37, 39, 61, 1);
}
container-footer.darkmode {
  position: absolute;
  width: 179 px;
  height: 14px;
  left: 500px;
  top: 734px;
  bottom: 52px;
  padding-bottom: 60px;
  color: rgba(91, 94, 126, 1);
  letter-spacing: -0.194444px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  background: rgba(37, 39, 61, 1);
}
